.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 85%;
  margin: 0 175px;
  margin-bottom: 21px;
  background-color: white;
}

.book-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #888;
  margin: 21px 0;
}

.book-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.book-form-item {
  margin-right: 21px;
}

input {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #dccdcd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 555px;
}
