.books {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  margin: -75px 5%;
  padding: 80px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 100%;
  max-width: 90%;
  padding: 0 21px;
  box-sizing: border-box;
}

.booklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.list-item {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 15px 10px rgba(238, 239, 243, 0.8);
  display: flex;
  gap: 10%;
  margin-bottom: 20px;
  padding: 15px 20% 15px 45px;
}

.list-item li {
  list-style: none;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.genre {
  font-size: 1.2rem;
  font-weight: 700;
  color: #b0aaaa;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e1e1e;
}

.author {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1181d6;
}

.interact {
  display: flex;
  justify-content: space-between;
  margin: 9px 0;
  color: #1377c4;
  font-size: 1.2rem;
}

.brn {
  border-left: 1px solid rgba(214, 198, 198, 0.645);
  height: 2rem;
  margin: 0 1rem;
}

.pace {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.pace-bar {
  position: relative;
}

.pace-bar-outer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 19px;
}

.pace-bar-inner {
  display: flex;
  align-items: center;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
}

circle {
  fill: none;
  stroke: #054b88;
  stroke-width: 8px;
  stroke-dasharray: 202;
  stroke-dashoffset: 20;
  transition: 2s linear;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pace-percentage {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
}

.pace-percentage span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #413d3d;
}

.bxwn {
  border-left: 1px solid rgba(190, 189, 189, 0.7);
  height: 7rem;
  margin: 0 1rem;
}

.chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 100px;
  gap: 30px;
}

.current {
  color: #5b5555;
  font-size: 1rem;
}

.chapters {
  font-size: 1.2rem;
  line-height: 20px;
  color: rgb(78, 77, 77);
}

button {
  background-color: #0290ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
