nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 5% 5%;
  padding: 0 40px;
  box-shadow: 0 0 10px 5px rgba(238, 239, 243, 0.8);
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  margin: 0 34px;
  text-decoration: none;
  color: #9e9e9e;
}

.Logo {
  font-size: 3rem;
  font-weight: 700;
  color: #0290ff;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.5rem;
}

.list {
  text-decoration: none;
  color: rgb(107, 106, 106);
}

.active {
  color: #3a3535;
}
